## Capstone 1 - Part 2

In the first part of the capstone, we focused on Data Retrieval, Data Preprocessing, Feature Engineering and Exploratory Data Analysis using Python & its libraries. Now we are going to shift gears and gain insights into our HR Analytics dataset using SQL.

## TODO: Make use of SQL to do the following:

### Create a SQLITE3 DB using the CSV file (2 pts). Please refer this [link](https://www.linkedin.com/pulse/accessing-sqlite3-database-from-jupyter-notebook-using-varun-lobo/) and this [link](https://www.geeksforgeeks.org/how-to-import-csv-file-in-sqlite-database-using-python/) to know more.

### Calculate the Attrition Rate and summarize attrition (3 pts) by:
- Gender
- Department
- Age
- Average monthly income by job level
- Years at company

### Continue using SQL to explore main reasons for attrition (3 pts), For example:
- Why do more people over 50 years old leave the company than people who aged 40-50?
- Why do people with higher pay still leave the company?
- Which factors drive employees who work at company less than 5 years to leave?

### Effective Communication (2 pts)
- Please make use of markdown cells to communicate your thought process, why did you think of performing a step? what was the observation from the query? etc.
- The code should be commented so that it is readable for the reviewer.

### Grading and Important Instructions
- Each of the above steps are mandatory and should be completed in good faith
- Make sure before submitting that the code is in fully working condition
- It is fine to make use of ChatGPT, stackoverflow type resources, just provide the reference links from where you got it
- Debugging is an art, if you find yourself stuck with errors, take help of stackoverflow and ChatGPT to resolve the issue and if it's still unresolved, reach out to me for help.
- You need to score atleast 7/10 to pass the project, anything less than that will be marked required, needing resubmission.
- Feedback will be provided on 3 levels (Awesome, Suggestion, & Required). Required changes are mandatory to be made.
- For submission, please upload the project on github and share the link to the file with us through LMS.

#### Calculate Attrition Rate

In [14]:
### Implement code
import sqlite3
import pandas as pd

# Load CSV into a Pandas DataFrame
df = pd.read_csv('/Users/farokh/Downloads/HR-Analytics.csv')

# Create a connection to SQLite database
conn = sqlite3.connect('db1.db')

# Create a cursor object
cur = conn.cursor()

# Dynamically create a table based on the DataFrame
df.to_sql('table1', conn, if_exists='replace', index=False)

# Commit the transaction
conn.commit()

# Calculate the overall attrition rate
attrition_rate = df['Attrition'].value_counts(normalize=True)['Yes'] * 100
print(f'Overall Attrition Rate: {attrition_rate:.2f}%')

Overall Attrition Rate: 16.12%

#### Sample Output

![image](https://api-v4.skyprepapp.com/public_api/da/857886?view_key=eyJvYmplY3RfdHlwZSI6ImFydGljbGUiLCJvYmplY3RfaWQiOjg1Nzg4NiwiaG1hYyI6ImUyNGU0YWRhNWQwMDkxNWE2NWNiY2EwNGFlNDNiMTBlYmYyNWY0YzAiLCJleHBpcmVzX2F0Ijo0ODkxMzgxMTk5LCJvdHRfdG9rZW4iOm51bGx9)

#### Find Attrition by Gender

In [15]:
# Calculate attrition rate by gender
attrition_by_gender = df.groupby('Gender')['Attrition'].value_counts(normalize=True).unstack() * 100
print("Attrition by Gender:\n", attrition_by_gender)

Attrition by Gender:
 Attrition         No        Yes
Gender
Female     85.204082  14.795918
Male       82.993197  17.006803

#### Sample output

![image](https://api-v4.skyprepapp.com/public_api/da/857882?view_key=eyJvYmplY3RfdHlwZSI6ImFydGljbGUiLCJvYmplY3RfaWQiOjg1Nzg4MiwiaG1hYyI6IjM1NDU5N2E4MjZmMTMxNWFhMTA4NzFiYTFkZjQ5YjBhNTYyOWYwMzgiLCJleHBpcmVzX2F0Ijo0ODkxMzgxMTk5LCJvdHRfdG9rZW4iOm51bGx9)

#### Find Attrition by Dept

In [16]:
# Calculate attrition rate by department
attrition_by_department = df.groupby('Department')['Attrition'].value_counts(normalize=True).unstack() * 100
print("Attrition by Department:\n", attrition_by_department)

Attrition by Department:
 Attrition                      No        Yes
Department
Human Resources         80.952381  19.047619
Research & Development  86.160250  13.839750
Sales                   79.372197  20.627803

#### Sample Output

<img src="https://api-v4.skyprepapp.com/public_api/da/857884?view_key=eyJvYmplY3RfdHlwZSI6ImFydGljbGUiLCJvYmplY3RfaWQiOjg1Nzg4NCwiaG1hYyI6IjdmOTA4NzJjODZmYTgxOGUyMzkyYTBlZjhjYjljNjA4ZGM3NjkzMWYiLCJleHBpcmVzX2F0Ijo0ODkxMzgxMTk5LCJvdHRfdG9rZW4iOm51bGx9" width="450" height="450">

#### Find Attrition by Age Groups

In [17]:
# Create age bins
bins = [18, 25, 35, 45, 55, 65]
labels = ['18-24', '25-34', '35-44', '45-54', '55-64']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

# Calculate attrition rate by age group
attrition_by_age = df.groupby('AgeGroup')['Attrition'].value_counts(normalize=True).unstack() * 100
print("Attrition by Age Group:\n", attrition_by_age)

Attrition by Age Group:
 Attrition         No        Yes
AgeGroup
18-24      60.824742  39.175258
25-34      79.783394  20.216606
35-44      89.900990  10.099010
45-54      89.795918  10.204082
55-64      84.057971  15.942029

#### Sample Output

![image](https://api-v4.skyprepapp.com/public_api/da/857885?view_key=eyJvYmplY3RfdHlwZSI6ImFydGljbGUiLCJvYmplY3RfaWQiOjg1Nzg4NSwiaG1hYyI6IjcwNGVlOWIwYzg1MmMwNmNhODg0NmYyZDFlNWE3OTU1MTFhMGVmYWYiLCJleHBpcmVzX2F0Ijo0ODkxMzgxMTk5LCJvdHRfdG9rZW4iOm51bGx9)

#### Find Attrition by Monthly Income

In [18]:
# Calculate average monthly income by job level
avg_income_by_job_level = df.groupby('JobLevel')['MonthlyIncome'].mean()
print("Average Monthly Income by Job Level:\n", avg_income_by_job_level)

Average Monthly Income by Job Level:
 JobLevel
1     2786.915285
2     5502.277154
3     9817.252294
4    15503.783019
5    19191.826087
Name: MonthlyIncome, dtype: float64

#### Sample Output

![image](https://api-v4.skyprepapp.com/public_api/da/857883?view_key=eyJvYmplY3RfdHlwZSI6ImFydGljbGUiLCJvYmplY3RfaWQiOjg1Nzg4MywiaG1hYyI6Ijg3NTU4ZDU1ZjRjN2U1YWI3ODQzYjM1NzFkNjBjMjEwNGY5NWI5ODUiLCJleHBpcmVzX2F0Ijo0ODkxMzgxMTk5LCJvdHRfdG9rZW4iOm51bGx9)

#### Find Attrition by Years At Company

In [19]:
# Calculate attrition rate by years at company
attrition_by_years_at_company = df.groupby('YearsAtCompany')['Attrition'].value_counts(normalize=True).unstack() * 100
print("Attrition by Years at Company:\n", attrition_by_years_at_company)

Attrition by Years at Company:
 Attrition               No         Yes
YearsAtCompany
0                63.636364   36.363636
1                65.497076   34.502924
2                78.740157   21.259843
3                84.375000   15.625000
4                82.727273   17.272727
5                89.285714   10.714286
6                88.157895   11.842105
7                87.777778   12.222222
8                88.750000   11.250000
9                90.243902    9.756098
10               85.000000   15.000000
11               93.750000    6.250000
12              100.000000         NaN
13               91.666667    8.333333
14               88.888889   11.111111
15               95.000000    5.000000
16               91.666667    8.333333
17               88.888889   11.111111
18               92.307692    7.692308
19               90.909091    9.090909
20               96.296296    3.703704
21               92.857143    7.142857
22               93.333333    6.666667
23               50.000000   50.000000
24               83.333333   16.666667
25              100.000000         NaN
26              100.000000         NaN
27              100.000000         NaN
29              100.000000         NaN
30              100.000000         NaN
31               66.666667   33.333333
32               66.666667   33.333333
33               80.000000   20.000000
34              100.000000         NaN
36              100.000000         NaN
37              100.000000         NaN
40                     NaN  100.000000

#### Sample Output

![image](https://api-v4.skyprepapp.com/public_api/da/857881?view_key=eyJvYmplY3RfdHlwZSI6ImFydGljbGUiLCJvYmplY3RfaWQiOjg1Nzg4MSwiaG1hYyI6IjFhYmY3NGI4MzQ1NzViMWZkNDJlMjcwYTUyOTQ0OWQwZjJjMjhmNWUiLCJleHBpcmVzX2F0Ijo0ODkxMzgxMTk5LCJvdHRfdG9rZW4iOm51bGx9)

#### Continue using SQL to explore main reasons for attrition (3 pts), For example:
- Why do more people over 50 years old leave the company than people who aged 40-50?
- Why do people with higher pay still leave the company?
- Which factors drive employees who work at company less than 5 years to leave?

Why do more people over 50 years old leave the company than people who aged 40-50?

In [22]:
# Create the AgeGroups view
cur.execute('''
CREATE VIEW AgeGroups AS
SELECT 
    CASE 
        WHEN Age < 40 THEN 'Under 40'
        WHEN Age BETWEEN 40 AND 50 THEN '40-50'
        ELSE 'Over 50'
    END AS AgeGroup,
    Attrition,
    JobSatisfaction,
    WorkLifeBalance,
    JobRole,
    MonthlyIncome,
    YearsAtCompany
FROM table1;
''')

# Commit the changes
conn.commit()

In [23]:
# Execute a query on the age group view
cur.execute('''
SELECT 
    AgeGroup,
    COUNT(*) AS TotalEmployees,
    SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) AS Attritions,
    ROUND(100.0 * SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) / COUNT(*), 2) AS AttritionRate,
    AVG(JobSatisfaction) AS AvgJobSatisfaction,
    AVG(WorkLifeBalance) AS AvgWorkLifeBalance
FROM AgeGroups
GROUP BY AgeGroup;
''')

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row)

('40-50', 379, 39, 10.29, 2.6728232189973613, 2.807387862796834)
('Over 50', 143, 18, 12.59, 2.762237762237762, 2.629370629370629)
('Under 40', 948, 180, 18.99, 2.7457805907172994, 2.7626582278481013)

Why do people with higher pay still leave the company?

In [24]:
## Create a view to categorize employees by income level
cur.execute('''
CREATE VIEW IncomeGroups AS
SELECT 
    CASE 
        WHEN MonthlyIncome < 4000 THEN 'Low Income'
        WHEN MonthlyIncome BETWEEN 4000 AND 7000 THEN 'Mid Income'
        ELSE 'High Income'
    END AS IncomeGroup,
    Attrition,
    JobSatisfaction,
    WorkLifeBalance,
    JobRole,
    YearsAtCompany
FROM table1;
''')
conn.commit()

cur.execute('''
SELECT 
    IncomeGroup,
    COUNT(*) AS TotalEmployees,
    SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) AS Attritions,
    ROUND(100.0 * SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) / COUNT(*), 2) AS AttritionRate,
    AVG(JobSatisfaction) AS AvgJobSatisfaction,
    AVG(WorkLifeBalance) AS AvgWorkLifeBalance
FROM IncomeGroups
GROUP BY IncomeGroup;
''')
# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row)

('High Income', 435, 47, 10.8, 2.708045977011494, 2.7839080459770114)
('Low Income', 542, 137, 25.28, 2.7398523985239853, 2.7121771217712176)
('Mid Income', 493, 53, 10.75, 2.734279918864097, 2.795131845841785)

In [ ]:
Which factors drive employees who work at company less than 5 years to leave?

In [28]:
## Analyze attrition for employees with less than 5 years at the company
cur.execute('''
SELECT 
    JobRole,
    COUNT(*) AS TotalEmployees,
    SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) AS Attritions,
    ROUND(100.0 * SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) / COUNT(*), 2) AS AttritionRate,
    AVG(JobSatisfaction) AS AvgJobSatisfaction,
    AVG(WorkLifeBalance) AS AvgWorkLifeBalance,
    AVG(MonthlyIncome) AS AvgMonthlyIncome
FROM table1
WHERE YearsAtCompany < 5
GROUP BY JobRole
ORDER BY AttritionRate DESC;
''')
conn.commit

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row)

('Sales Representative', 68, 30, 44.12, 2.661764705882353, 2.911764705882353, 2510.6470588235293)
('Human Resources', 24, 9, 37.5, 2.4583333333333335, 3.0, 3560.7916666666665)
('Laboratory Technician', 136, 46, 33.82, 2.75, 2.639705882352941, 2867.7573529411766)
('Sales Executive', 89, 23, 25.84, 2.550561797752809, 2.651685393258427, 6548.539325842697)
('Research Scientist', 146, 26, 17.81, 2.76027397260274, 2.6986301369863015, 2923.0479452054797)
('Manufacturing Director', 42, 4, 9.52, 2.7857142857142856, 2.9047619047619047, 6379.261904761905)
('Healthcare Representative', 36, 3, 8.33, 2.6944444444444446, 2.75, 6736.277777777777)
('Research Director', 22, 0, 0.0, 2.4545454545454546, 2.8636363636363638, 16800.636363636364)
('Manager', 17, 0, 0.0, 2.9411764705882355, 2.764705882352941, 16879.941176470587)